@page
@model MTPrisonApp.Pages.Cells.CellsPage

@{
    ViewData["Title"] = "Cells";
}

<h1>Cells</h1>

<p>
    <a asp-page="Create" asp-page-handler="Create">Create New</a>
</p>
<form>
    <p>
        Section:<select asp-for="CellSection" asp-items="Model.Sections">
            <option value="">All</option>
        </select>
        Type:<select asp-for="CellType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cells[0].CellNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cells[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cells[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cells[0].Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cells) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CellNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
