@page
@model MTPrisonApp.Pages.Prisoners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prisoner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.DoB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.DoB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.Offense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.Offense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.DateOfRelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.DateOfRelease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prisoner.DateOfImprisonment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prisoner.DateOfImprisonment)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prisoner.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
