@page
@model MTPrisonApp.Pages.Prisoners.PrisonersPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Details";
}

<dl class="row">
    @Html.MyViewerFor(m => m.Prisoner.FirstName)
    @Html.MyViewerFor(m => m.Prisoner.LastName)
    @Html.MyViewerFor(m => m.Prisoner.DoB)
    @Html.MyViewerFor(m => m.Prisoner.Offense)
    @Html.MyViewerFor(m => m.Prisoner.DateOfRelease)
    @Html.MyViewerFor(m => m.Prisoner.DateOfImprisonment)
</dl>
<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Prisoner.Id">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>


