@page
@model MTPrisonApp.Pages.Prisoners.PrisonersPage

@{
    Layout = "_Index";
}

@*<form>
    <p>
        Offense:<select asp-for="PrisonerOffense" asp-items="Model.Offenses">
            <option value="">All</option>
        </select>
        First name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Prisoners[0].FullName)
            <th> @Html.DisplayNameFor(model => model.Prisoners[0].DoB)
            <th> @Html.DisplayNameFor(model => model.Prisoners[0].Offense)
            <th> @Html.DisplayNameFor(model => model.Prisoners[0].DateOfRelease)
            <th> @Html.DisplayNameFor(model => model.Prisoners[0].DateOfImprisonment)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prisoners) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.FullName)
            <td> @Html.DisplayFor(modelItem => item.DoB)
            <td> @Html.DisplayFor(modelItem => item.Offense)
            <td> @Html.DisplayFor(modelItem => item.DateOfRelease)
            <td> @Html.DisplayFor(modelItem => item.DateOfImprisonment)
            <td>
                <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
