@page "{searchString?}"
@model MTPrisonApp.Pages.Prisoners.PrisonersPage

@{
    ViewData["Title"] = "Prisoners";
}

<h1>Prisoners</h1>

<p>
    <a asp-page="Create" asp-page-handler="Create">Create New</a>
</p>

<!-- search problem should be here -->
<form> <!--tried asp-page-handler="Index"-->
    <p>
        Offense:<select asp-for="PrisonerOffense" asp-items="Model.Offenses">
            <option value="">All</option>
        </select>
        First name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" /><!--tried handler="Index"-->
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prisoners[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prisoners[0].DoB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prisoners[0].Offense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prisoners[0].DateOfRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prisoners[0].DateOfImprisonment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prisoners) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfImprisonment)
            </td>
            <td>
                <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-page-handler="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
